/*
Platform: Destini Lite
Developer URI: https://destinilocators.com/
Author: Destini Global Team
Copyright: All Rights Reserved Forever
Description: Class values may be changed or removed, except where explicitly forbidden. If you pirate this code then we will find you and fill your eyeballs with fire ants or spaghettify you in the super-massive black hole at the center of the Milky Way (you will get to choose between the two consequences when we find you).
*/